# Заміни 'localhost' на свій реальний домен (напр. myapp.com), коли будеш на сервері
#.nip.io
62.72.35.35 {
    # Стиснення трафіку (gzip/zstd) для швидкості
    encode gzip

    # ---------------------------------------------------------
    # 1. СТАТИКА (Аватарки та картинки)
    # ---------------------------------------------------------
    # Якщо запит починається з /uploads/, Caddy віддасть файл з папки.
    # handle_path автоматично "відрізає" префікс /uploads/ перед пошуком файлу.
    handle_path /uploads/* {
        root * /srv/uploads
        file_server
    }

    # ---------------------------------------------------------
    # 2. БЕКЕНД (.NET API)
    # ---------------------------------------------------------
    # Всі запити на /api/ йдуть на контейнер з дотнетом
    reverse_proxy /api/* api:8080

    # ---------------------------------------------------------
    # 3. ФРОНТЕНД (SvelteKit)
    # ---------------------------------------------------------
    # Все інше йде на фронтенд
    reverse_proxy * web:3000
}